<h1>Create a New Tweet!</h1>
<form class="new_tweet" action="/tweets" method="post">
  <label for="content">what is the content you want to post about? (Max Length: 255 char)</label>
  <input type="text" name="content" maxlength="255">
  <input type="submit" value="Create Tweet" id="submit">
</form>
