<h3>Signup for Fwitter</h3>
<form class="log_in" action="/login" method="post">
  <label for="username">Username:</label>
  <input type="text" name="username" id="username">
  <label for="password">Password:</label>
  <input type="text" name="password" id="password">
  <input type="submit" value="log in!" id="submit">
</form>